<%- include("partials/header") %>
<%- include("partials/buttons") %>
<main>
    <h3 class="nazevTabulky">Tabulka dopravci</h3>
    <table>
        <thead>
            <tr>
                <th>ID Dopravce</th>
                <th>Název</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < data.length; i++){ %>
                <tr>
                    <td><%= data[i].id_dopravce %></td>
                    <td><%= data[i].nazev %></td>
                </tr>
                <% } %>
        </tbody>
    </table>
</main>
<%- include("partials/sqlButtons") %>
<%- include("partials/footer") %>